<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">    
      <title>
        dispecer
      </title>
      <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
      <h1>Информация по грузовикам</h1>
      <div>
        <form method="post">
          {% csrf_token %}
          <p>
            <select name="truck_model">
              <option disabled>Выберите модель</option>
              <option value="all">Все</option>
              {% for truck in truck_models  %}
                <option value="{{ truck.trucks_info__truck_model }}">
                  {{ truck.trucks_info__truck_model }}
                </option>
              {% endfor %}
            </select>
            <button type="submit" name="send" value="send">Применить</button>
          </p>
        </form>
      </div>
        <table cellspacing="0" cellpadding="2" border="1">
          <tr>
            <th>Бортовой номер</th>
            <th>Модель</th>
            <th>Максимальная грузоподъёмность, т</th>
            <th>Текущий вес, т</th>
            <th>Перегруз, %</th>
          </tr>
          {% for truck in trucks_info %}
            <tr>
              <td>{{ truck.board_number }}</td>
              <td>{{ truck.trucks_info.truck_model }}</td>
              <td>{{ truck.trucks_info.carrying_capacity }}</td>
              <td>{{ truck.current_load }}</td>
              {% if truck.over_load > 0 %}
                <td>{{ truck.over_load }}</td>
              {% else %}
                <td>0</td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </body>
</html>
